@page "/"
@model netcorewa3.Index
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>ASP.NET Core Demo App</title>
</head>
<body>
<h1>ASP.NET Core Demo App</h1>
<p>Current time: @DateTime.Now</p>

<div>
    Links: <a href="https://docs.microsoft.com/aspnet/core/">Docs</a> |
    Swagger API: <a href="/swagger">/swagger</a> |
</div>
</body>
</html>